header {
    background-color: #666;
    padding: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    }

body {
    margin: 0;
    padding: 0;
}

.rubrik {
    text-decoration: underline;
    font-size: 35px;
}

#underrubrik1 {
    font-family: 'Times New Roman', Times, serif;
}

#underrubrik2 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#link {
    font-family: "Comic Sans MS";
}

.underrubrik3 {
    font-weight: bolder;
}

.lista {
    font-style: italic;
}

#bild {
    float: left;
    width: 70%;
}


footer {
    background-color: #777;
    padding: 20px;
    text-align: center;
    color: white;
}